<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cartmain.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Oswald&family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <style>
      .centered-div {
      width: 200px;
      height: 200px;
      background-color: lightblue;
      text-align: center;
      line-height: 200px; /* Center content vertically */
    }
    </style>
</head>
<body>
    <div class="mmm">
        <div class="mmm1">
            <div class="mn111">
                <img src="/images/air.png" class="imgs1">
                <h1>AirMagic</h1>
            </div>
            <div class="mn21">
                <button class="btn1">
                    <a href="logout">Logout / </a>
                </button>
                <a><i2 id="i2" class="fa fa-shopping-cart" style="color: black;font-size: 25px;margin-top: 35%;"> </i2></a>
                <a><i2 id="i2" class="fa fa-user" style="color: black;font-size: 25px;margin-top: 35%;"> </i2></a>
            </div>
        </div>
        <nav>
          <a style="--i: 1;" href="/home" class="ln1">Home</a>
          <a style="--i: 2;" href="/customize1" class="ln1">Custome</a>
          <a style="--i: 3;" href="/about" class="ln1">AboutUs</a>
          <a style="--i: 4;" href="/" class="ln1">Contact Us</a>
          <a style="--i: 1;" href="/add" class="ln1">Cart </a>
          <a style="--i: 1;" href="/gallery" class="ln1">Gallery </a>
         
      
        </nav>     
    </div>
    <h1 style="font-family: Oswald;font-weight: 600; text-align: center;font-size: 40px;">Shopping Cart</h1>
    <div class="cas1">
      <div class="cas">
        <h1>Cashback</h1>
        <p>Cashback on this order is <b>₹60</b></p>
        <p>(Cashback Will be Added to Your Printshoppy Wallet Within 24 hours of Order Delivery)</p>
      </div>
    </div>
    <div class="cart">
   
    </div>
   <script src="/main-js/cart.js"></script>
<br>
<br>
<br>
<hr>
<div class="total">

</div>
<hr style="width: 100%; color: rgb(233, 233, 233);position: relative;top: 50px;">
<div class="pay">
  <h1 style="font-family: 'Oswald', sans-serif;">100% Secure Payment</h1>
  <div class="pay1">
    <img src="/images/google-pay-icon.png" class="svgs">
    <img src="/images/phonepe-icon.png"    class="svgs">
    <img src="/images/paytm-icon.png"      class="svgs">
    <img src="/images/upi-payment-icon.png"class="svgs">
    <img src="/images/visa-icon.png"       class="svgs">
    <img src="/images/master-card-icon.png"class="svgs">
    <img src="/images/maestro-icon.png"    class="svgs">
  </div>
</div>    
<hr style="width: 100%; color: rgb(233, 233, 233);position: relative;top: 50px;">
    <div class="footer">
       <img src="/images/air.png"  alt="logo"  class="air">
      <div class="fo1">
        <h1 style="font-family: 'Oswald';">BEST SELLERS</h1>
        <a>Wall Photo Frames</a>
        <a>Photo Stands</a>
        <a>Mobile Cases</a>
        <a>Photo Mugs</a>
      </div>
      <div class="fo1">
        <h1 style="font-family: 'Oswald';">SUPPORT</h1>
        <a>Contact Us</a>
        <a>Track Order</a>
        <a>Return Order</a>
        <a>FAQ's</a>
      </div>
      <div class="fo1">
        <h1 style="font-family: 'Oswald';">MORE INFO</h1>
        <a>My Account</a>
        <a>Order History</a>
        <a>Your Credits</a>
      </div>
      <div class="fo1">
        <h1 style="font-family: 'Oswald';">BEST SELLERS</h1>
        <a>Wall Photo Frames</a>
        <a>Photo Stands</a>
        <a>Mobile Cases</a>
        <a>Photo Mugs</a>
      </div>
    </div>
</body>
</html>