<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
  <link rel="stylesheet" href="/gallerycss.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Teko&display=swap" rel="stylesheet">
</head>
<script>
</script>
<body>
  <div class="mmm">
    <div class="mmm1">
  <div class="mn111">
    <img src="/images/logo.png" class="imgs1">
    <h1>AirMagic</h1>
  </div>
  <div class="mn21">
    <button class="btn1" type="button"><a class="nav-link" href="logout">Logout</a></button>

  </div>
</div>
  <nav>
    <a style="--i: 1;" href="/home" class="ln1">Home</a>
    <a style="--i: 2;" href="/customize1" class="ln1">Custome</a>
    <a style="--i: 3;" href="/about" class="ln1">AboutUs</a>
    <a style="--i: 4;" href="/" class="ln1">Contact Us</a>
    <a style="--i: 1;" href="/add" class="ln1">Cart </a>
    <a style="--i: 1;" href="/gallery" class="ln1">Gallery </a>
   

  </nav>     
  </div>
</div>
  </div>
  <h1 style="font-family: 'Oswald', sans-serif;font-size: 50px;text-align: center;"> Journey of Personalisation</h1>
  <div class="main">
    <div class="main11">
        <a href="/sub-gallery/Gallery_1" class="main1">
            <img src="/images/nature-main.png" class="pic1" alt="logo">
            <h1>Acrylic Photo Nature</h1>
        </a>
    </div>
    <div class="main11">
        <a href="/sub-gallery/Gallery_2"  class="main2">
            <img src="/images/bird-main.png" class="pic2" alt="logo">
            <h1>Acrylic Photo Birds</h1>
        </a>
    </div>
    <div class="main11">
        <a href="/sub-gallery/Gallery_3" class="main3">
            <img src="/images/wildlife-main.png" class="pic3" alt="logo">
            <h1>Acrylic Photo Wildlife</h1>
        </a>
    </div>
    <div class="main11">
        <a href="/sub-gallery/Gallery_4" class="main4">
            <img src="/images/sea-main.png" class="pic4" alt="logo">
            <h1>Acrylic Photo Sea</h1>
        </a>
    </div>
    <div class="main11">
        <a href="/sub-gallery/Gallery_5" class="main5">
            <img src="/images/nature-main.png" class="pic5" alt="logo">
            <h1>Acrylic Photo Nature</h1>
        </a>
    </div>
   
    
   
</div>


  <hr style="width: 100%; color: rgb(233, 233, 233);position: relative;top: 50px;">
  <div class="footer">
    <div class="fo1">
      <h1 style="font-family: 'Oswald';">COMPANY</h1>
      <a>About Us</a>
      <a>Privacy Policy</a>
      <a>T&C's</a>
      <a>Refer & Earn</a>
    </div>
    <div class="fo1">
      <h1 style="font-family: 'Oswald';">BEST SELLERS</h1>
      <a>Wall Photo Frames</a>
      <a>Photo Stands</a>
      <a>Mobile Cases</a>
      <a>Photo Mugs</a>
    </div>
    <div class="fo1">
      <h1 style="font-family: 'Oswald';">SUPPORT</h1>
      <a>Contact Us</a>
      <a>Track Order</a>
      <a>Return Order</a>
      <a>FAQ's</a>
    </div>
    <div class="fo1">
      <h1 style="font-family: 'Oswald';">MORE INFO</h1>
      <a>My Account</a>
      <a>Order History</a>
      <a>Your Credits</a>
    </div>
    <div class="fo1">
      <h1 style="font-family: 'Oswald';">BEST SELLERS</h1>
      <a>Wall Photo Frames</a>
      <a>Photo Stands</a>
      <a>Mobile Cases</a>
      <a>Photo Mugs</a>
    </div>
  </div>
  <script>
      
  </script>
</body>
</html>

